{{ base_distro }}
{{ base_tag }}
{{ maintainer }}
{{ duck["egg"] }}
{{ duck.egg }}
{{ address('keystone') }}
{{ address('keystone') | gethostbyname }}
{{ address('gerrit', {'ingress': 'gerrit', 'port': '8080' }, external=True, with_scheme=True) | hostname }}
{{ address('gerrit', {'ingress': 'gerrit', 'port': '8080' }, external=True) | hostname }}
{{ address('gerrit', {'ingress': 'gerrit', 'port': '8080' }, external=True, with_scheme=True) | host }}
