RANDFILE = $ENV::HOME/.rnd

[ req ]
distinguished_name = req_distinguished_name
x509_extensions	= v3_ca
req_extensions = v3_req

[ req_distinguished_name ]
[ v3_req ]

basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
subjectAltName = $ENV::CERT_ALTNAME
